<footer class="footer">
        <div class="footer-top section">
          <div class="container">
            <div class="row">
              <div class="footer-col col-md-6">
                <h5>Our Office Location</h5>
                <p>Jl. Mentri Supeno, Yogyakarta<br>
                  0813-1602-7836<br>
                  rezkysy@gmail.com</p>
                <p>Copyright © 2019 Filosofti. All Rights Reserved.</p>
              </div>
              <div class="footer-col col-md-3">
                <h5>Services We Offer</h5>
                <p>
                <ul>
                  <li><a href="#services">UI/UX Desain</a></li>
                  <li><a href="#services">Web App Development</a></li>
                  <li><a href="#services">ERP Development</a></li>
                </ul>
                </p>
              </div>
              <div class="footer-col col-md-3">
                <h5>We are on</h5>
                <ul class="footer-share">
                  <li><a href="https://github.com/rlllzk" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://twitter.com/rezkysy" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://instagram.com/rlllzk" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- footer top --> 
        
      </footer>
      <!-- Footer section --> 
      <!-- JS FILES --> 
      {% load static %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
      <script src="{% static 'js/bootstrap.min.js' %}"></script> 
      <script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 
      <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script> 
      <script src="{% static 'js/retina.min.js' %}"></script> 
      <script src="{% static 'js/modernizr.js' %}"></script> 
      <script src="{% static 'js/main.js' %}"></script>