{% load static %}
<header id="header">
  <div class="header-content clearfix"> <a class="logo" href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
    <nav class="navigation" role="navigation">
      <ul class="primary-nav">
        <li><a href="#intro">Intro</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#works">Teknologi</a></li>
        <li><a href="#testimonials">Testimoni</a></li>
        <li><a href="blog/">Blog</a></li>
        <li><a href="kontak/">Kontak</a></li>
      </ul>
    </nav>
    <a href="#" class="nav-toggle">Menu<span></span></a> 
  </div>
</header>